 body {
      font-family: Arial, sans-serif;
      margin: 0;
      background-color: #ffffff;
      color: #004d00;
    }
 .contact {
         box-shadow: 0 0 20px 0 rgba(31, 176, 220, 0.9);
      background-color: #e6ffe6;
      padding: 15px;
      border: 1px solid  #044904;
      margin-top: 20px;
    }